<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adium Status Icons</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumStatusIcons</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.statusicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXSXtraDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adium Service Icons</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumServiceIcons</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.serviceicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXSXtraDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adium Sound Set</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumSoundset</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.soundset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXSXtraDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adium Emoticon Set</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumEmoticonset</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.emoticonset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXSXtraDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adium Group Chat Status Icons</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumGroupChatStatusIcons</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.groupchatstatusicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXSXtraDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adium Menu Bar Icons</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumMenuBarIcons</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.menubaricons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXSXtraDocument</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.statusicons</string>
			<key>UTTypeDescription</key>
			<string>Adium Status Icons</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumStatusIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.serviceicons</string>
			<key>UTTypeDescription</key>
			<string>Adium Service Icons</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumServiceIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.soundset</string>
			<key>UTTypeDescription</key>
			<string>Adium Sound Set</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumSoundset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.emoticonset</string>
			<key>UTTypeDescription</key>
			<string>Adium Emoticon Set</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumEmoticonset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.groupchatstatusicons</string>
			<key>UTTypeDescription</key>
			<string>Adium Group Chat Status Icons</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumGroupChatStatusIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.menubaricons</string>
			<key>UTTypeDescription</key>
			<string>Adium Menu Bar Icons</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumMenuBarIcons</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XtrasCreator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
