<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.xtra.AB92EB85-A6E5-4608-8AD7-088714BB406D</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>SimpleKnut White</string>
	<key>CFBundlePackageType</key>
	<string>AISr</string>
	<key>XtraAuthors</key>
	<string>KnutMann</string>
	<key>XtraBundleVersion</key>
	<integer>1</integer>
	<key>XtraVersion</key>
	<string>1.0</string>
</dict>
</plist>
