<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Interface-Large</key>
	<dict>
		<key>Gadu-Gadu</key>
		<string>gadugadu-large.png</string>
		<key>GroupWise</key>
		<string>groupwise-large.png</string>
		<key>IRCv3</key>
		<string>irc-large.png</string>
		<key>Jabber</key>
		<string>jabber-large.png</string>
		<key>SIMPLE</key>
		<string>simple-large.png</string>
		<key>Signal</key>
		<string>signal-large.png</string>
		<key>Teams</key>
		<string>teams-large.png</string>
		<key>TeamsPersonal</key>
		<string>teamspersonal-large.png</string>
		<key>Telegram</key>
		<string>telegram-large.png</string>
		<key>WhatsApp</key>
		<string>whatsapp-large.png</string>
	</dict>
	<key>Interface-Small</key>
	<dict>
		<key>Gadu-Gadu</key>
		<string>gadugadu-small.png</string>
		<key>GroupWise</key>
		<string>groupwise-small.png</string>
		<key>IRCv3</key>
		<string>irc-small.png</string>
		<key>Jabber</key>
		<string>jabber-small.png</string>
		<key>SIMPLE</key>
		<string>simple-small.png</string>
		<key>Signal</key>
		<string>signal-small.png</string>
		<key>Teams</key>
		<string>teams-small.png</string>
		<key>TeamsPersonal</key>
		<string>teamspersonal-small.png</string>
		<key>Telegram</key>
		<string>telegram-small.png</string>
		<key>WhatsApp</key>
		<string>whatsapp-small.png</string>
	</dict>
	<key>List</key>
	<dict>
		<key>Gadu-Gadu</key>
		<string>gadugadu-small.png</string>
		<key>GroupWise</key>
		<string>groupwise-small.png</string>
		<key>IRCv3</key>
		<string>irc-small.png</string>
		<key>Jabber</key>
		<string>jabber-small.png</string>
		<key>SIMPLE</key>
		<string>simple-small.png</string>
		<key>Signal</key>
		<string>signal-small.png</string>
		<key>Teams</key>
		<string>teams-small.png</string>
		<key>TeamsPersonal</key>
		<string>teamspersonal-small.png</string>
		<key>Telegram</key>
		<string>telegram-small.png</string>
		<key>WhatsApp</key>
		<string>whatsapp-small.png</string>
	</dict>
</dict>
</plist>
