<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Interface-Large</key>
	<dict>
		<key>Gadu-Gadu</key>
		<string>gadu-gadu.png</string>
		<key>GroupWise</key>
		<string>groupwise.png</string>
		<key>IRCv3</key>
		<string>irc.png</string>
		<key>Jabber</key>
		<string>jabber.png</string>
		<key>SIMPLE</key>
		<string>simple.png</string>
		<key>Signal</key>
		<string>Signal-large.png</string>
		<key>Telegram</key>
		<string>Telegram-large.png</string>
		<key>Teams</key>
		<string>Teams-large.png</string>
		<key>TeamsPersonal</key>
		<string>TeamsPersonal-large.png</string>
		<key>WhatsApp</key>
		<string>WhatsApp-large.png</string>
	</dict>
	<key>Interface-Small</key>
	<dict>
		<key>Gadu-Gadu</key>
		<string>gadu-gadu-small.png</string>
		<key>GroupWise</key>
		<string>groupwise-small.png</string>
		<key>IRCv3</key>
		<string>irc-small.png</string>
		<key>Jabber</key>
		<string>jabber-small.png</string>
		<key>SIMPLE</key>
		<string>simple-small.png</string>
		<key>Signal</key>
		<string>Signal-small.png</string>
		<key>Telegram</key>
		<string>Telegram-small.png</string>
		<key>Teams</key>
		<string>Teams-small.png</string>
		<key>TeamsPersonal</key>
		<string>TeamsPersonal-small.png</string>
		<key>WhatsApp</key>
		<string>WhatsApp-small.png</string>
	</dict>
	<key>List</key>
	<dict>
		<key>Gadu-Gadu</key>
		<string>gadu-gadu-small.png</string>
		<key>GroupWise</key>
		<string>groupwise-small.png</string>
		<key>IRCv3</key>
		<string>irc-small.png</string>
		<key>Jabber</key>
		<string>jabber-small.png</string>
		<key>SIMPLE</key>
		<string>simple-small.png</string>
		<key>Signal</key>
		<string>Signal-small.png</string>
		<key>Telegram</key>
		<string>Telegram-small.png</string>
		<key>Teams</key>
		<string>Teams-small.png</string>
		<key>TeamsPersonal</key>
		<string>TeamsPersonal-small.png</string>
		<key>WhatsApp</key>
		<string>WhatsApp-small.png</string>
	</dict>
</dict>
</plist>
